@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  color: #000;
  font-family: system-ui, -apple-system, "Segoe UI ", Roboto, sans-serif;
  line-height: 1.5;
  font-size: 16px;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

section {
  padding: 40px 0;
}

.l-header {
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}
.l-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
.l-header__right {
  display: flex;
  gap: 24px;
}
.l-header__logo {
  width: 150px;
  height: auto;
}
.l-header__nav {
  display: none;
}
.l-header__btn {
  background: #264062;
  color: #fff;
  border-radius: 16px;
  padding: 5px 15px;
}

.l-footer {
  background-color: #fffbed;
  margin-top: 40px;
}

.l-container {
  max-width: 1280px;
  width: 100%;
  padding-inline: 16px;
  margin-inline: auto;
}

.l-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 60px;
}

.l-grid--2 {
  grid-template-columns: repeat(2, 1fr);
}

.l-grid--3 {
  grid-template-columns: repeat(3, 1fr);
}

.c-card {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.c-card__title {
  font-size: 20px;
}
.c-card__price {
  font-size: 25px;
}
.c-card__tax {
  font-size: 18px;
}

.c-section__title {
  font-family: "こころ明朝", "Kokoro", serif;
  font-size: 35px;
  color: #000;
  text-align: center;
  margin-bottom: 40px;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 30px;
  margin-bottom: 60px;
}
.c-section__title span {
  font-size: 20px;
}

.c-hamburger {
  position: relative;
  width: 40px;
  height: 30px;
  background: none;
  border: none;
  z-index: 1003;
  cursor: pointer;
}
.c-hamburger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #264062;
  border-radius: 4px;
  transition: all 0.5s;
  z-index: 20;
}
.c-hamburger span:nth-child(1) {
  top: 0px;
}
.c-hamburger span:nth-child(2) {
  top: 15px;
}
.c-hamburger span:nth-child(3) {
  bottom: 0px;
}
.c-hamburger.open span {
  background-color: #fff;
}
.c-hamburger.open span:nth-child(1) {
  transform: translateY(10px) rotate(315deg);
}
.c-hamburger.open span:nth-child(2) {
  opacity: 0;
}
.c-hamburger.open span:nth-child(3) {
  transform: translateY(-10px) rotate(-315deg);
}
.c-hamburger .c-mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1001;
}
.c-hamburger .c-mask.open {
  display: block;
}

.c-sec__header {
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.c-sec__header-img {
  width: 100%;
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.c-sec__header-img--lunch {
  background-image: url("../../assets/image/parallax-02_pc.JPG");
}

.c-sec__header-img--kids {
  background-image: url("../../assets/image/parallax-03_pc.JPG");
}

.c-sec__header-img--cake {
  background-image: url("../../assets/image/parallax-05_pc.JPG");
}

.c-sec__header-img--drink {
  background-image: url("../../assets/image/parallax-06_pc.JPG");
}

.p-fv {
  margin-top: 40px;
}
.p-fv__content-text {
  font-family: "こころ明朝", "Kokoro", serif;
  font-size: 32px;
  text-align: center;
}

.p-news {
  text-align: center;
  margin-bottom: 80px;
}
.p-news .l-container {
  max-width: 600px;
  padding-inline: 60px;
  position: relative;
}
.p-news .l-container::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 10px;
  width: 100px;
  height: 2px;
  background-color: #000;
}
.p-news .l-container::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 25px;
  width: 2px;
  height: 50px;
  background-color: #000;
}
.p-news__line {
  position: relative;
  max-width: 600px;
  padding-inline: 30px;
}
.p-news__line::before {
  content: "";
  position: absolute;
  bottom: -30px;
  right: -30px;
  width: 100px;
  height: 2px;
  background-color: #000;
}
.p-news__line::after {
  content: "";
  position: absolute;
  bottom: -50px;
  right: -20px;
  width: 2px;
  height: 50px;
  background-color: #1a331e;
}
.p-news__title {
  font-size: 32px;
  font-weight: normal;
  padding-top: 50px;
  margin-top: 16px;
  margin-bottom: 24px;
}
.p-news__text {
  text-align: left;
}

.p-menu {
  text-align: center;
  padding: 100px 0;
}
.p-menu__title {
  font-size: 54px;
  font-weight: normal;
  font-family: "こころ明朝", "Kokoro", serif;
}

.p-lunch {
  background-color: #fff;
}
.p-lunch__wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 60px;
}
.p-lunch__card {
  display: flex;
  flex-direction: column;
}
.p-lunch__img {
  margin-bottom: 20px;
}
.p-lunch__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.p-lunch__title {
  font-size: 20px;
  font-weight: normal;
}
.p-lunch__price {
  font-size: 20px;
  font-weight: normal;
}
.p-lunch__tax {
  font-size: 16px;
  font-weight: normal;
}
.p-lunch__set {
  font-size: 16px;
  font-weight: normal;
}
.p-lunch__caution {
  font-size: 12px;
}
.p-lunch__text-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.p-alacarte {
  background-color: #fffbed;
  padding-top: 80px;
}
.p-alacarte__beer-wrapper {
  max-width: 800px;
  margin-inline: auto;
}
.p-alacarte__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.p-alacarte__list {
  margin: 20px 0;
}
.p-alacarte__item {
  list-style: disc;
  margin-left: 20px;
  margin-bottom: 8px;
}
.p-alacarte__item:last-of-type {
  margin-bottom: 20px;
}

.p-kids {
  background-color: #fff;
}
.p-kids__caution {
  text-align: center;
}
.p-kids .l-grid {
  margin-bottom: 100px;
}

.p-cake {
  background-color: #fffbed;
}
.p-cake__wrapper {
  max-width: 800px;
}
.p-cake__subtitle {
  margin-bottom: 16px;
}
.p-cake__menu {
  margin-bottom: 20px;
}
.p-cake__step {
  position: relative;
  width: 165px;
}
.p-cake__step-img {
  height: auto;
}
.p-cake__step-text {
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.p-cake__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  padding-left: 20px;
}
.p-cake__item::before {
  content: "・";
  position: absolute;
  left: 0;
  font-weight: bold;
}
.p-cake__name {
  font-size: 18px;
}
.p-cake__price {
  font-size: 25px;
}
.p-cake__tax {
  font-size: 18px;
  padding-left: 16px;
}

.p-drink__wrapper {
  max-width: 800px;
  margin-inline: auto;
  margin-bottom: 100px;
}
.p-drink__wrapper .c-card {
  margin-bottom: 24px;
}
.p-drink__wrapper:last-of-type {
  margin-bottom: 20px;
}
.p-drink__subtitle {
  line-height: 1.8;
  margin-bottom: 80px;
}

.p-coffee {
  background-color: #6d1f37;
  width: 100%;
  margin-top: -10px;
  padding: 100px 0;
  color: #fff;
}
.p-coffee__logo {
  width: 200px;
  margin-inline: auto;
}
.p-coffee__logo-img {
  margin: 0 auto;
}
.p-coffee__text {
  text-align: center;
  padding: 20px 0;
}
.p-coffee .l-grid {
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  margin-bottom: 0;
}
.p-coffee .l-grid .u-underline {
  border-bottom: 1px solid #fff;
}
.p-coffee__menu .l-grid {
  gap: 30px;
}
.p-coffee__img {
  margin-bottom: 30px;
  max-width: 80%;
}
.p-coffee__card {
  text-align: center;
  padding: 20px 0;
}
.p-coffee__card .l-grid {
  gap: 0;
  margin-bottom: 20px;
}

.u-underline {
  border-bottom: 1px solid #000;
}

.u-flex-center {
  align-items: center;
}

.u-flex-column {
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
