@use "../foundation" as *;

.l-grid {
  width: 100%;
  display: grid;
}
.l-grid--2 {
  grid-template-columns: repeat(2, 1fr);
  @include sp {
    grid-template-columns: 1fr;
  }
}
.l-grid--3 {
  grid-template-columns: repeat(3, 1fr);
  @include sp {
    grid-template-columns: 1fr;
  }
}
