@use "../foundation" as *;

.c-section__title {
  font-family: $font-kokoro;
  font-size: 35px;
  color: $color-main;
  text-align: center;
  margin-bottom: $space-l;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 30px;
  margin-bottom: 60px;
  & span {
    font-size: 20px;
  }
  
}
