@use "../foundation" as *;

.p-coffee {
  background-color: #6d1f37;
  width: 100%;
  margin-top: -10px;
  padding: 100px 0;
  color: $color-white;
  &__logo {
    width: 200px;
    margin-inline: auto;
    &-img {
      margin: 0 auto;
    }
  }
  &__text {
    text-align: center;
    padding: 20px 0;
  }

  &__img {
    margin-bottom: 30px;
    max-width: 80%;
    @include sp {
      margin-bottom: 10px;
    }
  }
  &__card {
    text-align: center;
    padding: 20px 0;
    @include sp {
      padding-inline: 10%;
    }
  }
  &__price-wrapper {
    @include sp {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 80%;
      margin-inline: auto;
    }
  }
  &__language {

    @include sp {
      text-align: left;
    }
  }

  &__menu .u-underline--white {
    @include sp {
      border-bottom: none;
    }
  }
}
