@use "../foundation" as *;

.p-news {
  text-align: center;
  margin-bottom: $space-xl;
  & .l-container {
    max-width: 600px;
    padding-inline: 60px;
    position: relative;

    //左上ライン
    &::before {
      content: "";
      position: absolute;
      top: 30px;
      left: 10px;
      width: 100px;
      height: 2px;
      background-color: #000;
    }
    &::after {
      content: "";
      position: absolute;
      top: 10px;
      left: 25px;
      width: 2px;
      height: 50px;
      background-color: #000;
    }
  }
  &__line {
    position: relative; // 右下の基準点にする
    max-width: 600px;
    padding-inline: 30px;
    // 右下の横棒
    &::before {
      content: "";
      position: absolute;
      bottom: -30px; // マイナスで枠の外側に飛び出させる
      right: -30px;
      width: 100px;
      height: 2px;
      background-color: #000;
    }

    // 右下の縦棒
    &::after {
      content: "";
      position: absolute;
      bottom: -50px;
      right: -20px;
      width: 2px;
      height: 50px;
      background-color: #1a331e;
    }
  }

  &__title {
    font-size: 32px;
    font-weight: normal;
    padding-top: 50px;
    margin-top: 16px;
    margin-bottom: $space-m;
  }
  &__text {
    text-align: left;
  }
}
